[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash/git-aware-prompt"]
	path = bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git
[submodule "zsh/zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug
[submodule "plugins/dotbot-sync"]
	path = plugins/dotbot-sync
	url = https://github.com/j1r1k/dotbot-sync.git
[submodule "plugins/dotbot-brew"]
	path = plugins/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
