[".config/bash/git-aware-prompt"]
  type = "archive"
  url = "https://github.com/jimeh/git-aware-prompt/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
[".config/tmux/plugins/tpm"]
  type = "archive"
  url = "https://github.com/tmux-plugins/tpm/archive/refs/heads/master.zip"
  exact = true
  stripComponents = 1
[".zplug"]
  type = "archive"
  url = "https://github.com/zplug/zplug/archive/refs/tags/2.4.2.zip"
  stripComponents = 1
{{  if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64") -}}
[".local/bin/nvim"]
  type = "file"
  url = "https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.appimage"
  executable = true
  refreshPeriod = "168h"
{{ $lazyGitVersion := "0.40.2" -}}
[".local/bin/lazygit"]
  type = "file"
  url = "https://github.com/jesseduffield/lazygit/releases/download/v{{ $lazyGitVersion }}/lazygit_{{ $lazyGitVersion }}_Linux_x86_64.tar.gz"
  executable = true
  refreshPeriod = "168h"
  [".local/bin/lazygit".filter]
    command = "tar"
    args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "lazygit"]
{{  end -}}
{{- if and (not .ephemeral) (not .headless) -}}
{{-   $fontDir := "" -}}
{{-   if eq .chezmoi.os "darwin" -}}
{{-     $fontDir = "Library/Fonts" -}}
{{-   else if eq .chezmoi.os "linux" -}}
{{-     $fontDir = ".local/share/fonts" -}}
{{-   end }}
["{{ $fontDir }}/SauceCodeProNerdFontMono-Regular.ttf"]
type = "file"
url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/SourceCodePro/SauceCodeProNerdFontMono-Regular.ttf"
["{{ $fontDir }}/SauceCodeProNerdFont-Regular.ttf"]
type = "file"
url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/SourceCodePro/SauceCodeProNerdFont-Regular.ttf"
["{{ $fontDir }}/RobotoMonoNerdFont-Regular.ttf"]
type = "file"
url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/RobotoMono/Regular/RobotoMonoNerdFont-Regular.ttf"
["{{ $fontDir }}/AnonymiceProNerdFontMono-Regular.ttf"]
type = "file"
url = "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/AnonymousPro/Regular/AnonymiceProNerdFontMono-Regular.ttf"
{{  end -}}
