{{/* Default user details */}}
{{- $name := "Adrian Salido" -}}
{{- $email := "adriansm@gmail.com" -}}

{{/* default values for boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $i3wm := false -}}{{/* true i3 window manager should be installed */}}
{{- $personal := false -}}{{/* true if this machine is for personal use only */}}

{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY -}}

{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CLOUD_SHELL") (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- else if hasSuffix ".c.googlers.com" .chezmoi.fqdnHostname -}}
{{-   writeToStdout "Detected Google cloudtop instance\n" -}}
{{-   $email = printf "%s@google.com" .chezmoi.username -}}
{{-   $headless = true -}}
{{- else if hasSuffix ".corp.google.com" .chezmoi.fqdnHostname -}}
{{-   $email = printf "%s@google.com" .chezmoi.username -}}
{{-   $ephemeral = false -}}
{{- else -}}
{{/* if above conditions are not met, this is likely personal use only */}}
{{-   $personal = true -}}
{{- end -}}


{{- if not $ephemeral -}}
{{-   if eq .chezmoi.hostname "penguin" -}}{{/* chromeos Linux container */}}
{{-     $ephemeral = false -}}
{{-     $headless = false -}}
{{-   else if $interactive -}}
{{-     if hasKey . "headless" -}}
{{-       $headless = .headless -}}
{{-     else -}}
{{-       $headless = promptBool "Headless mode" $headless -}}
{{-     end -}}
{{-     if hasKey . "ephemeral" -}}
{{-       $ephemeral = .ephemeral -}}
{{-     else -}}
{{-       $ephemeral = promptBool "Ephemeral instance (ex. cloud VM)" $ephemeral -}}
{{-     end -}}
{{-     if or $ephemeral $headless (not (eq .chezmoi.os "linux")) -}}
{{-       $i3wm = false -}}
{{-     else if hasKey . "i3wm" -}}
{{-       $i3wm = .i3wm -}}
{{-     else -}}
{{-       $i3wm = promptBool "Install i3 window manager" $i3wm -}}
{{-     end -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- /* If name was previously set, reuses it */ -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- /* Otherwise, if running interactively, prompts for a name */ -}}
{{- else if $interactive -}}
{{-   $name = promptString "Name" $name -}}
{{- end -}}

{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "E-mail" $email -}}
{{- end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter config (including name and email) with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}
verbose = true

[data]
email = {{ $email | quote }}
name = {{ $name | quote }}
osid = {{ $osID | quote }}
ephemeral = {{ $ephemeral }}
headless = {{ $headless }}
i3wm = {{ $i3wm }}
personal = {{ $personal }}
