{{ if (not .ephemeral) -}}
#!/bin/bash

set -eufo pipefail

vim -c PlugInstall -c qall

{{ if not (eq .chezmoi.arch "arm") -}}
nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'
{{- end }}
{{ end -}}
