{{ if and (not .ephemeral) (not (eq .chezmoi.arch "arm")) -}}

{{ $packages := list
      "pynvim" -}}

{{ if not .headless -}}
{{   $packages = concat $packages (list
      "fontawesome") -}}
{{ end -}}

{{ if .i3wm -}}
{{   $packages = concat $packages (list
      "i3ipc") -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

python3 -m venv ~/.local --system-site-packages
~/.local/bin/pip install --user --upgrade {{ $packages | join " " }}

# install fisher fish is installed
[ -z $(command -v fish) ] || {{ .chezmoi.sourceDir }}/../update_fish.fish
{{ end -}}
