[Desktop Entry]
Name=SSH Agent Environment
Type=Application
Version=1.0
Exec=bash -c 'test -z "$CHROME_REMOTE_DESKTOP_SESSION" && dbus-send --session --print-reply --dest=org.gnome.SessionManager /org/gnome/SessionManager org.gnome.SessionManager.Setenv string:"SSH_AUTH_SOCK" string:$(mktemp -d /tmp/ssh-agent.XXXXXXXXXX)/agent'
StartupNotify=false
NoDisplay=true
OnlyShowIn=GNOME
NotShowIn=X-Cinnamon
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=PreDisplayServer
X-GNOME-AutoRestart=false
