[Desktop Entry]
Name=SSH Agent
Type=Application
Version=1.0
Exec=bash -c "timeout 5 ssh-add -l &>/dev/null || /usr/bin/ssh-agent -a $SSH_AUTH_SOCK -D"
StartupNotify=false
NoDisplay=true
OnlyShowIn=GNOME
NotShowIn=X-Cinnamon
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
