{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $packages := list
      "curl"
      "fzf"
      "git-core"
      "ripgrep"
      "rsync"
      "vim"
      "zsh" -}}

{{ if not .ephemeral -}}
{{   $packages = concat $packages (list
      "build-essential"
      "clang-format"
      "luajit"
      "fd-find"
      "fuse3"
      "python3"
      "python3-pip"
      "python3-venv"
      "shellcheck"
      "tig"
      "tmux") -}}
{{ end -}}

{{ if .i3wm -}}
{{   $packages = concat $packages (list
      "compton"
      "dex"
      "fonts-font-awesome"
      "i3"
      "mate-media"
      "mate-control-center"
      "mate-power-manager"
      "mate-settings-daemon"
      "playerctl"
      "rofi"
      "scrot"
      "viewnior"
      "volumeicon-alsa"
      "xbacklight"
      "xinput"
      "xsecurelock"
      "xss-lock") -}}
{{ end -}}

{{- $sudo_access := false -}}{{/* true if user has access to sudo */}}
{{- if output "sh" "-c" "sudo -vn 2>&1 || true" | regexMatch "is not allowed to run sudo" }}
{{- $sudo_access := false -}}
{{- else }}
{{- $sudo_access := true -}}
{{- end }}

{{ if $sudo_access -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ end -}}
{{ end -}}
