{{if (and (eq .chezmoi.os "linux") (not .ephemeral) (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

test -n "$(command -v gnome-shell)" || exit 0


## [settings-daemon/plugins/media-keys]
## calculator=['<Super>c']
## control-center=['<Super>comma']
## custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/']
## home=['<Super>h']
## www=['<Super>n']

{{ $gschema := "org.gnome.settings-daemon.plugins.media-keys.custom-keybindings" }}
{{ if not .personal -}}
## gsettings set {{ $gschema }}.personal_www.binding "'<Super>Return'"
## gsettings set {{ $gschema }}.personal_www.command "'personal-google-chrome'"
## gsettings set {{ $gschema }}.personal_www.name "'Personal Chrome'"
{{ end -}}

{{ end -}}
